<div class="w-full border border-slate-200 pb-4">
  <div class="w-[96%] border border-slate-200 rounded-2xl text-sm text-slate-600 m-4 p-4">
    I frequently relay my ideas to my subscriber list and keep them informed about my endeavors—hoping to inspire
    someone. If you're interested in such notifications, put your email below and get them sent straight to your inbox.
  </div>
  <div class="w-full h-[40vh] p-4 border-y border-slate-200 relative">
    <img
      [src]="post.imageUrl"
      alt="Image"
      class="w-full h-full object-cover"/>
    <div class="w-full absolute z-10 bottom-0 px-4 pr-12 mb-8 flex justify-between">
      <div
        class="bg-white border border-slate-300 text-slate-600 text-xs px-4 py-2 flex gap-2 items-center">
          <span class="text-sm group-hover:text-indigo-500 material-icons text-indigo-500">
            favorite_border
        </span>
        <p>{{ post.likes }}</p>
      </div>


      @if (showAdminAction) {
        <div class="flex gap-2 items-center">
          <div
            (click)="editPost()"
            class="bg-white border border-slate-300 cursor-pointer text-slate-600 text-xs px-4 py-2 flex gap-2 items-center">
          <span class=" text-sm group-hover:text-indigo-500 material-symbols-outlined">
          edit
        </span>
            <p>Edit</p>
          </div>

          <div
            (click)="deletePost()"
            class="bg-white border border-slate-300 cursor-pointer text-slate-600 text-xs px-4 py-2 flex gap-2 items-center">
          <span class=" text-sm group-hover:text-indigo-500 material-symbols-outlined">
          delete
        </span>
            <p>Delete</p>
          </div>
        </div>
      }
    </div>
  </div>
  <h1 class="p-4 w-full text-4xl font-light text-slate-500 text-wrap border-b border-200">
    {{ splitTitle(post.title).part1 }}
    <span class="text-black">{{ splitTitle(post.title).part2 }}</span>
  </h1>

  <div class="p-4 py-3 border-b text-xs flex justify-between">
    <p>Author @if (post.authorName) {
      <b>{{ post.authorName }} </b>
    } @else {
      <b>Anonymous</b>
    }</p>
    <div class="flex gap-1 items-center">
      <p class="text-xs text-slate-400"><b> {{ post.datePosted | timeAgo }}</b> comments</p>
      <p class="text-xs text-slate-400"><b>{{ post.share }}</b> Shares</p>
      <p class="text-xs text-slate-400"><b>{{ post.likes }}</b> Likes</p>
    </div>
  </div>
  <p class="p-4 py-3 border-b text-lg">
    {{ post.shortDescription }}
  </p>
  <article class="p-4 border-b border-slate-200 text-sm text-slate-600 tracking-wide leading-8">
    {{ post.description }}
  </article>
  <div class="grid grid-cols-3 w-full border border-t-transparent -mt-[1px]">
    <button
      (click)="toggleLike()"
      class="text-xs px-4 py-2 text-slate-600 hover:bg-slate-100 flex justify-center gap-2 items-center group active:rounded-full active:scale-90">
        <span class="text-sm group-hover:text-indigo-500 material-icons text-indigo-500">
            favorite_border
        </span>
      <b>{{ post.likes }}</b> Like
    </button>

    <button
      class="text-xs px-4 py-2 text-slate-600 border-x border-slate-200 hover:bg-slate-100 flex justify-center gap-2 items-center group active:rounded-full active:scale-90">
    <span class="scale-75 group-hover:text-indigo-500 material-symbols-outlined">
      comment
    </span>
      Comment
    </button>
    <button
      (click)="sharingPost(post.share)"
      class="text-xs px-4 py-2 text-slate-600 hover:bg-slate-100 flex justify-center gap-2 items-center group active:rounded-full active:scale-90">
    <span class="scale-75 group-hover:text-indigo-500 material-symbols-outlined">
      send
    </span>
      <b>{{ post.share }}</b> Share
    </button>
  </div>
  <div class="w-full border-b border-slate-200 p-4">
    <h3 class="py-2 font-semibold text-indigo-500">Comments </h3>
    <div class="w-full flex flex-col">
      <app-comments [currentUserId]="currentUserId" [postId]="postId"/>
    </div>
  </div>
</div>
