<div class="w-full p-2  md:p-4">
  <div
    class="w-full border border-slate-200 rounded-2xl text-sm text-slate-600 p-4"
  >
    I frequently relay my ideas to my subscriber list and keep them informed
    about my endeavors—hoping to inspire someone. If you're interested in such
    notifications, put your email below and get them sent straight to your
    inbox.
    <input type="email" placeholder="Your email ..." class="w-full py-3 px-4 mt-2 border border-slate-200 rounded-lg"/>
  </div>
</div>
