<div class="max-w-screen min-h-screen flex justify-center items-start">
  <div class="w-screen lg:container px-0 lg:px-[8vw] xl:px-[14vw]">
    <div class="flex w-full justify-start relative">
      <div class="fixed z-50 w-screen md:w-[15vw]">
        <app-navbar/>
      </div>
      <div
        class="w-screen md:w-[85vw] min-h-screen mt-[9vh] md:mt-0 md:ml-[15vw] border-slate-200 border-r flex flex-col gap-4 items-start justify-start relative">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
