<div class="w-screen block md:hidden bg-white mt-1 text-slate-700 text-sm fixed px-4 border-y border-slate-200">
  <ul class="p-4 border-x border-slate-200">
    <li class="w-full p-4 border hover:bg-slate-100 cursor-pointer" routerLink="/home" (click)="toggleBurger.emit()">
      Home
    </li>
    @if (authService.currentUserSig()) {
      <li class="w-full p-4 border -mt-[1px] hover:bg-slate-100 cursor-pointer" routerLink="/create"
          (click)="toggleBurger.emit()">Write blog
      </li>
    }
    @if (authService.currentUserSig() == null) {
      <div
        class="w-full p-4 border hover:bg-indigo-100 border-slate-200 mt-4 group flex items-center gap-2 cursor-pointer"
        routerLink="/auth" (click)="toggleBurger.emit()">
        <h2 class="text-sm font-medium">Login</h2>
      </div>
    }
    @if (authService.currentUserSig()) {
      <li class="w-full p-4 border text-red-400 hover:bg-slate-100 cursor-pointer mt-4" (click)="handleLogout()">
        Logout
      </li>
    }
  </ul>
</div>
