<section id="home" class="w-full flex flex-col justify-start items-start gap-4 p-4 px-8">
  <h1 class="w-full text-5xl font-light mt-4 text-slate-500 text-wrap pt-0">
    Designing products <span class="text-black">and building digital businesses</span>
  </h1>

  <p class="text-sm text-gray-500 pt-0 ">Jake Robinson is a versatile designer with a unique blend of creativity and
    technical expertise. With a keen
    eye for aesthetics and a passion for innovation, Jake excels in branding, bringing to life visually striking
    and memorable identities that resonate with target audiences.
  </p>

  <p class="text-sm text-gray-500 pt-0 ">In the realm of product design, Jake combines functionality with
    cutting-edge
    design principles to create user-friendly and marketable products. Outside of the design studio, he is also an
    accomplished hula hooper, showcasing a remarkable ability to balance artistic expression.
  </p>

  <div class="flex border-2 border-transparent hover:border-slate-100 rounded-lg p-1 mt-0">
    <button
      class="text-sm border-2 border-slate-200 hover:bg-slate-100 hover:text-indigo-500 hover:tracking-widest px-8 py-3 rounded-l-md">
      Let's start a project
    </button>
    <button class="text-sm bg-slate-800 hover:bg-indigo-500 hover:tracking-widest text-white px-8 py-3 rounded-r-md">
      Contact
    </button>
  </div>
</section>
